.faq-container {
    background-color: black;
}

.faq-container .faq-title{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.faq-accordian {
    margin-left: 15vw;
    margin-right: 15vw;
}

.faq-item .faq-ques {
    background-color: gray;
}

.faq-item {
    margin: 10px 0px;
    background-color: gray;
}

.faq-footer {
    padding-bottom: 90px;
}

.faq-footer-title {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 500;
    line-height: 60px;
}

.faq-footer-details {
    display: flex;
    justify-content: center;
}

.faq-footer-details .faq-footer-details-email {
    height: 50px;
    width: 350px;
    margin-top: 10px;
    background-color: rgb(40, 38, 38);
    border: 1px solid white;
    color: white;
}

.faq-footer-details .faq-footer-details-button {
    height: 50px;
    width: 200px;
    margin: 10px;
}