.final-footer-container {
    background-color: black;
    height: 500px;
    padding: 70px 15vw;  
}

.final-footer-contact-no {
    color: white;
}

.final-footer-table {
    margin-top: 40px;
}

.final-footer-language {
    height: 35px;
    width: 130px;
    background-color: black;
    color: white;
    margin-top: 10px;
}