.landing-pg-two-contents {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 550px;
}

.landing-pg-two-textdata {
    margin-top: 200px;
}

.landing-pg-two-contents-image .landing-pg-two-contents-image-instance {
    height: 300px;
    width: 500px;
    margin-top: 150px;
    margin-left: 20%;
}